<div class="row header" *ngIf='detyailedAlbum'>
  <div class="offset-sm-1 col-sm-4">
    <div class="album">
      <img src="{{GetAlbumImage(detyailedAlbum, 'large').text}}" alt="{{detyailedAlbum.artist?.name}}"/>
      <div>
        <p><span>Name:</span>{{detyailedAlbum.name}}</p>
        <p><span>Artist:</span>{{detyailedAlbum.artist?.name}}</p>
        <p><span>URL:</span><a href="{{detyailedAlbum.url}}">Click here to listen to Album</a></p>
      </div>
    </div>
  </div>
</div>

<albums [albums]='appAlbums' (albumClicked)='OnAlbumClicked($event)'>Loading...</albums>
