<div class="row header">
    <div class="offset-sm-1 col-sm-4">
        <div class="album">
            <img src="https://lastfm-img2.akamaized.net/i/u/174s/fafc74a8f45241acc10158be6e2d8270.png" alt="Revolver"/>
            <div>
                <p><span>Name:</span>Revolver</p>
                <p><span>Artist:</span>The Beatles</p>
                <p><span>URL:</span><a href="https://www.last.fm/music/The+Beatles/Revolver">Click here to listen to Album</a></p>
            </div>
        </div>
    </div>
</div>